<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9MZuZaDgLosin7jQrufoEMyxHgI9Iav0</string>
	<key>GCM_SENDER_ID</key>
	<string>430337420930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoappblackcoffer</string>
	<key>PROJECT_ID</key>
	<string>blackcoffer-b390c</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcoffer-b390c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430337420930:ios:35b7db4a4faab81de44e9b</string>
</dict>
</plist>